header{
    width:100%;
    height:50px;
    background:#1b1b32;
    color:#dfdfe2;
    text-align:center;
    font-style:sans-serif;
    font-weight:700;
    letter-spacing: 4px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Sans-serif;
}
.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(210, 205, 114, 0.5),rgba(210,205,114,0.5)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
.form-box{ 
    width:70%;
    max-width: 450px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding:20px 30px 20px;
    background: #fff;
}
.form-box h1{
  font-size: 30px;
  margin-bottom: 20px;
  color:orangered;
  position: relative;

}
.input-field{
    background:#eaeaea;
    margin: 15px 0;
    border-radius:3px;
    display:flex;
    align-items: center;
    max-height: 50px;
    transition:max-height 0.5s;
    overflow:hidden;
    width:350px;
    height: 40px;
}
input{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:18px 15px;
}
.input-field i{
    margin:15px;

}
form p{
    text-align:left;
    font-size:13px;
}
form p a{
    text-decoration: none;
    color:#e90d47
}
.btn-field{
    width:92%;
    display:flex;
    justify-content: space-between;
    margin-left: 25px;
}
#signinbtn,#signupbtn{
    padding : 0px 5px;
}
.btn-field button{
    flex-basis:48%;
    background:#e66e04;
    color:#fff;
    height:30px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;
}
.input-group{
    height:140px;
    margin-left: 25px;
}
.btn-field button.disable{
    background:#eaeaea;
    color:#555;
}
#create,#login{
    background:#eaeaea;
    margin: 15px 0;
    display:inline-block;
    display:flex;
    align-items: center;
    max-height: 50px;
    transition:max-height 0.5s;
    overflow:hidden;
    margin-left: 25px;
    width: 350px;
    height: 35px;
}
.google{
    width: 350px;
    height: 30px;
    background-color: blue;
    border-radius: 25px;
    align-items: center;
    margin-left: 25px;
}

.google button{
    background-color: transparent;
    border: none;
}

.google i , button{
    margin-top: 7px;
}